.errmsg {
    color: red;
  }
  .bg-Container {
    background-image: url("../../images/AuthBG.jpg");
    background-size: cover;
    height: 100vh;
    overflow: scroll;
    font-family: "Raleway", sans-serif;
  }
  .regist_formContainer {
    background-color: transparent;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1.5rem;
    z-index: 10;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .register_form_container {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0.5rem;
    z-index: 10;
    background-color: whitesmoke;
  }
  .register_btn {
    background-color: #ff6d1f;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .register_btn:hover {
    background-color: #efd244;
  }
  @media screen and (min-width:700px) and (max-width:1040px){
      .regist_formContainer {
          margin-top: 160px;
      }
  
  }
  @media screen and (min-width:390px) and (max-width:430px){
      .regist_formContainer {
          margin-top: 130px;
      }
  
  }
  @media screen and  (max-width:300px){
      .register_btn {
          margin: 4px;
      }
  
  }
  @media screen and (min-width:1040px){
      .regist_formContainer{
          margin-top: 160px;
      }
  }
  
  
  
  
  
  
  